<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, intial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Home</title>
    </head>
    <body>
        <header>
            <navv>
                <ul>
                    <li>Pagina 1</li>
                    <li>Pagina 2</li>
                    <li>Pagina 3</li>
                    <li>Pagina 4</li>
                    <li>Pagina 5</li>
                </ul>
            </navv>
        </header>
        <h1> Sono la view dell'home controller</h1>
    <p>Sono entusiasta di essere qui per presentarvi la nostra innovativa applicazione, un'ancora più efficace soluzione per gestire online tutte le pratiche dell'ufficio turistico. Introduciamo con orgoglio la nostra piattaforma, progettata per semplificare e potenziare l'intero processo di gestione delle pratiche turistiche.</p>

            <footer>
            <p>Contattaci al numero</p>
        </footer>
    </body>
</html>
 
Sono la view per l'action Index del CoursesController